.markdown-title {
  position: relative;
}

.markdown-title .markdown-title-a {
  position: absolute;
  color: #a8b1ff00;
  transition: all 0.3s;
  padding-right: 4px;
}

.markdown-title .markdown-title-a-1 {
  left: -36px;
}
.markdown-title .markdown-title-a-2 {
  left: -28px;
}
.markdown-title .markdown-title-a-3 {
  left: -20px;
}

.markdown-title:hover .markdown-title-a {
  color: #b6b6b6;
}

.markdown-title .markdown-title-a:hover,
.markdown-title .markdown-title-a:focus {
  color: #6e6e6e;
}
