.x-scroll {
  display: block;
  overflow-x: auto;
}

.x-scroll .x-scroll-inner {
  display: block;
}

.x-scroll::-webkit-scrollbar {
  height: 3px;
}

.x-scroll::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 3px;
}

.x-scroll::-webkit-scrollbar-track {
  background-color: #00000000;
}

.x-scroll::-webkit-scrollbar-button {
  width: 2px;
  height: 10px;
}

.x-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #d6d6d6;
}

.x-scroll::-webkit-scrollbar-thumb:active {
  background-color: #d6d6d6;
}
