.markdown-blockquote {
  padding: 0.1em 1em;
  border-width: 0px;
  border-style: solid;
  /* border-radius: 1em; */
  color: #797a7c;
  margin: 1em 0 0.8em 0;
  border-color: #e5e7eb;
}

.markdown-blockquote.markdown-blockquote-success {
  /* background-color: #ecf8f2; */
  background-color: #2b6e6209;
  border-left: 3px solid #9dd1c0;
}

.markdown-blockquote.markdown-blockquote-warn {
  /* background-color: #fef5e7; */
  background-color: #db7e2709;
  border-left: 3px solid #f7e4a6;
}

.markdown-blockquote.markdown-blockquote-danger {
  /* background-color: #ffe9e9; */
  background-color: #d9303009;
  border-left: 3px solid #ec9b9b;
}

.markdown-blockquote.markdown-blockquote-info {
  /* background-color: #f6f7f9; */
  background-color: #99a1b309;
  border-left: 3px solid #cecece;
}

.markdown-blockquote .markdown-blockquote-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 8px;
}

.markdown-blockquote
  .markdown-blockquote-title
  .markdown-blockquote-title-icon {
  font-size: 1em;
}

.markdown-blockquote
  .markdown-blockquote-title.markdown-blockquote-title-success {
  color: #45a190;
}

.markdown-blockquote .markdown-blockquote-title.markdown-blockquote-title-warn {
  color: #da985b;
}

.markdown-blockquote
  .markdown-blockquote-title.markdown-blockquote-title-danger {
  color: #dd5959;
}

.markdown-blockquote .markdown-blockquote-title.markdown-blockquote-title-info {
  color: #798192;
}

.markdown-blockquote .markdown-blockquote-blank-block {
  color: #bbbbbb;
}
