a.a-link {
  position: relative;
  font-size: 16px;
  cursor: pointer;
}

a.a-link span.a-popover {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  overflow-x: auto;
  padding: 10px;
  display: none;
  transition: all 0.3s;
  white-space: nowrap;
  z-index: 1;
  transform: scale(0.95, 0.95) translate(0, -5%);
  opacity: 0;
}

a.a-link span.a-popover.a-popover-show {
  transform: scale(1, 1) translate(0, 0);
  opacity: 1;
}

a.a-link span.a-popover::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

a.a-link span.a-popover::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
  border-radius: 3px;
}

a.a-link span.a-popover::-webkit-scrollbar-track {
  background-color: #00000000;
}

a.a-link span.a-popover::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
