.a-link {
  position: relative;
}

.a-popover {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
  transition: all 0.3s;
  white-space: nowrap;
  z-index: 1;
  transform: scale(1, 0.5) translate(0, -50%);
  opacity: 0;
}

.a-popover.a-popover-show {
  transform: scale(1, 1) translate(0, 0);
  opacity: 1;
}
