.contents-box {
  position: fixed;
  z-index: 1;
  transition: all 0.3s;
}

.contents {
  /* max-width: 250px; */
  height: 100vh;
  color: #000000;
  justify-content: left;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px 0 0 0;
  font-size: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.contents h1 {
  margin: 0;
  padding: 0 0 20px 20px;
  font-size: 24px;
  color: #000000;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;
}

.contents nav.contents-body {
  padding: 0;
  margin: 0;
}

.contents nav.contents-body ul.contents-body {
  --indicates: 0;
  --indicates-opacity: 0;
  position: relative;
  list-style: none;
  padding: 0 5px 0 0;
  margin: 0 0 64px 0;
}

.contents nav.contents-body ul.contents-body::before {
  content: '';
  position: absolute;
  display: block;
  transform: translateY(calc(var(--indicates) * 34px));
  transition: all 0.45s;
  height: 34px;
  width: var(--leaveWidthBlank);
  background-color: #e6f7ff;
  opacity: var(--indicates-opacity);
}

.contents nav.contents-body li {
  padding: 0;
  margin: 0;
}

.contents::-webkit-scrollbar {
  width: 4px;
}

.contents::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 2px;
}

.contents::-webkit-scrollbar-track {
  background-color: #00000000;
}

.contents::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
