.contents {
  width: 250px;
  height: 100vh;
  color: #ffffff;
  justify-content: left;
  background-color: rgb(66, 66, 66);
  box-sizing: border-box;
  padding: 20px 12px 0 0;
  font-size: 12px;
  overflow-y: scroll;
  position: fixed;

  & h1 {
    margin: 0;
    padding: 0 0 20px 20px;
    font-size: 24px;
    color: #ffffff;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff88;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff22;
  }
}
