.content-button {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #00000000;
  color: #000000;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 1px 16px 1px 20px;
  font-size: 14px;
  /* border-radius: 0 0.75rem 0.75rem 0; */
  transition: background-color 0.2s;
  text-align: left;
  line-height: 32px;
  display: flex;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;
  justify-content: space-between;
}

.content-button.bold-button {
  font-weight: bold;
  font-size: 16px;
}

.content-button .contents-button-left-icon-right-margin {
  margin: 0 10px 0 0;
}

.content-button i.contents-button-right-icon {
  position: relative;
  transition: all 0.2s;
  height: 100%;
}

.content-button i.contents-button-right-icon::before {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-button span.contents-button-main {
  width: calc(100% - 16px);
  word-wrap: break-word;
}

.content-button span.contents-button-main i {
  white-space: nowrap;
}

.content-button i.contents-button-tag {
  font-style: normal;
  border-radius: 4px;
  font-size: inherit;
  margin: 0 4px;
  padding: 0 4px;
  background-color: #99a1b359;
}

.content-button:hover {
  background-color: #f6f7f9;
}

.content-button:active {
  background-color: #ededee;
}

.content-button[isSelected='true'] {
  background-color: #e6f7ff;
  color: #087ea4;
}

.content-button[isExpand='true'] i.contents-button-right-icon {
  transform: rotate(90deg);
}
