.body {
  --leaveWidthBlank: 0px;
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: auto;
}

.body .main {
  transition: opacity .2s;
  width: calc(100% - var(--leaveWidthBlank));
  box-sizing: content-box;
  position: relative;
  margin-left: var(--leaveWidthBlank);
  background-color: #ffffff;
  min-height: 100vh;
  flex-direction: column;
}

.body .main.main-loading {
  opacity: 0;
}
