.body {
  height: 100%;
  width: 100vw;
  position: relative;
  overflow: auto;
}

.body .main {
  width: calc(100% - var(--leaveWidthBlank));
  box-sizing: content-box;
  position: relative;
  margin-left: var(--leaveWidthBlank);
}
