.tooltip-box {
  --show-transform: 0;
  --cubic-bezier: cubic-bezier(0.42, 0, 0.58, 1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  font-optical-sizing: auto;
  direction: ltr;
  overflow-wrap: break-word;
  scrollbar-color: auto;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-family:
    Inter,
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    微软雅黑,
    Arial,
    sans-serif;
  line-height: 20px;
  opacity: var(--show-transform);
  transform: scale(calc(var(--show-transform) * 0.1 + 0.9));
  transform-origin: 0% 0%;
  transition:
    opacity 0.3s,
    transform 0.3s var(--cubic-bezier);
}

.tooltip-box .tooltip-content {
  position: relative;
  display: inline-block;
  padding: 5px 11px;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  max-width: 600px;
  word-wrap: break-word;
  z-index: 1;
}

.tooltip-box .tooltip-arrow {
  /* --arrow-color: #fff; */
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
