.page-template-box {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #ffffff;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
}

.page-template-box .page-template {
  display: flex;
  position: relative;
  width: 100%;
}

.page-template-box .page-template .page-template-markdown {
  flex: 1;
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
}

.page-template-box .page-template .page-template-render {
  flex: 1;
  padding: 0 20px;
}

/* .page-template-box .page-template .page-template-contents {} */

.page-template-box::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.page-template-box::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
  border-radius: 3px;
}

.page-template-box::-webkit-scrollbar-track {
  background-color: #00000000;
}

.page-template-box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
