.page-box {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  background-color: #ffffff;
  overflow-x: scroll;
  overflow-y: auto;
  position: relative;
}

.page-box .page {
  --right-aside-width: 224px;
  position: relative;
  width: 100%;
  padding: 32px 32px 128px;
  box-sizing: border-box;
}

.page-box .page .page-markdown {
  display: flex;
  padding: 0 32px;
  padding-right: calc(var(--right-aside-width) + 32px);
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-box .page .page-markdown .page-render {
  flex: 1;
  padding: 0 20px;
}

.page-box .page .page-footer {
  margin: 64px auto 0 auto;
  padding: 0 32px;
  padding-right: calc(var(--right-aside-width) + 32px);
  max-width: 1000px;
  min-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.page-box .page .page-contents {
  position: relative;
  width: 224px;
  padding-left: 32px;
}

.page-box::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

.page-box::-webkit-scrollbar-thumb {
  background-color: #8d8d8d;
  border-radius: 3px;
}

.page-box::-webkit-scrollbar-track {
  background-color: #00000000;
}

.page-box::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
