li.menu-content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px 0 0;
  overflow: hidden;
  /* background-color: #00000005; */
}

li.menu-content ul.menu-content-children {
  --visible: 0;
  position: relative;
  /* transition: height 0.3s, transform 0.3s, opacity 0.3s; */
  transition-property: height, transform, opacity;
  transition-duration: 0.45s;
  /* background-color: #00000007; */
  /* border-right: 2px solid #00000022; */
  list-style: none;
  padding: 0;
  padding-left: 8px;
  margin: 0;
  transform: scale(calc(max(var(--visible), 0.7)));
  opacity: var(--visible);
  transform-origin: 10% top;
}

/* li.menu-content button[isExpand='true'] + ul.menu-content-children::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: #00000022;
}

li.menu-content button + ul.menu-content-children::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: #00000022;
} */
