li.content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px 0 0;
  overflow: hidden;
}

li.content .content-children {
  transition: height 0.2s;
}

li.content ul.content-children {
  list-style: none;
  padding: 0px 5px 0 0;
  margin: 0;
}

li.content li.content-li {
  padding: 0;
  margin: 0;
}
